<md-content class="login-content" ng-controller="ResetPasswordCtrl"
  layout layout-align="center">

  <md-card flex-gt-sm="25" flex="100" layout-padding>
    <form name="form" novalidate>
      <md-card-content layout-padding layout="column">
        <p class="md-body-3 text-center" translate="RESET_YOUR_PASSWORD" translate-cloak="RESET_YOUR_PASSWORD">
        </p>
        <md-input-container>
          <label translate="EMAIL" translate-cloak="EMAIL"></label>
          <input name="email" ng-model="email" placeholder required>
          <div ng-messages="form.email.$error" ng-show="form.$submitted">
            <div ng-message="required" translate="FIELD_REQUIRED" translate-cloak="FIELD_REQUIRED"></div>
          </div>
        </md-input-container>
      </md-card-content>
      <div class="md-actions" layout="column" layout-align="start">
        <md-button type="submit" class="md-primary md-raised" md-no-ink
          ng-disabled="isLoading"
          ng-click="onResetPassword(form)" translate="SUBMIT" translate-cloak="SUBMIT">
        </md-button>
        <br>
        <md-button href="/auth/login" class="md-primary" md-no-ink translate="BACK_TO_LOGIN" translate-cloak="BACK_TO_LOGIN">
        </md-button>
      </div>
    </form>
  </md-card>
</md-content>
